poetry.lock
01- hydra_experiments/Hidra/outputs/
01- hydra_experiments/Hidra/__pycache__/
01- hydra_experiments/Hidra/data/
02-pycaret_mlops/.ipynb_checkpoints/
.venv
.vscode
.DS_Store
02-pycaret_mlops/diamond-pipeline.pkl
02-pycaret_mlops/.ipynb_checkpoints
03-model_development/.fastai
03-model_development/__pycache__
03-model_development/wandb/
03-model_development/artifacts/bdd_simple_1k:v0
03-model_development/data_split.csv
03-model_development/artifacts/
04-model_tracking_mlflow/mlruns/
backend.db
04-model_tracking_mlflow/data
04-model_tracking_mlflow/data_model_input
04-model_tracking_mlflow/backend.db


